.menu {
    list-style: none; 
    margin: 38px 0 89px;
}

.menu-item {
    float: left;
}

.menu-item:first-child {
    width: 614px;
}

.menu-item:nth-child(2) {
    padding-left: 31px;
}

.menu-item:nth-child(3) {
    padding-left: 33px;
}

.menu-item:nth-child(4) {
    padding-left: 36px;
}

.menu-item:nth-child(5) {
    padding-left: 30px;
}

.menu-item:nth-child(6) {
    padding-left: 26px;
}

.menu-item:nth-child(7) {
    padding-left: 29px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    font-weight: 800;
    letter-spacing: -0.28px;
    transition: all .2s ease;    
}

.menu-link:hover {
    color: #1abc9c;
}