header {
    margin: 38px 0 89px;
}

.header-logo {
    float: left;
}

.header-navigation {
    float: right;
}

.menu {
    list-style: none;
}

.menu-item {
    float: left;
    padding-left: 30px;    
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    font-weight: 800;
    letter-spacing: -0.28px;
    transition: all .2s ease;    
}

.menu-link:hover {
    color: #1abc9c;
}