.news h2 {
    margin-left: -7px;    
}

.news-list {
    margin-top: 107px;
}

.news-item {
    float: left;
    width: 350px;
    margin-right: 30px;
}

.news-item:nth-child(3n) {
    margin-right: 0;
}

.news-item h3 {
    font-size: 18px;
    color: #555252;
    letter-spacing: -0.67px;
    padding: 5px 10px 0 1px;
    line-height: 26px;
    position: relative;
}

.news-item h3:after {
    content: '';
    position: absolute;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    bottom: -12px;
    left: 1px;
}

.news-item p {
    margin: 34px 0 16px;
    color: #555252;
    letter-spacing: -0.28px;
    line-height: 26px;
    max-height: 73px;
    overflow: hidden;
}

.news-btn {
    background-color: #4ec6ab;
    width: 160px;
    height: 51px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: -0.32px;
    margin-left: 1px;
    cursor: pointer;
}