$primary-color: #333;
$secondary-color: #999;
$tertiary-color: #fff;
$pink-color: #f38181;
$blue-color: #95e1d3;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Kaushan Script', cursive;
