* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding-bottom: 70px;
}

.title {
    text-align: center;
    position: relative;
    margin-bottom: 90px;
}

.title-first {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.title-second {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    bottom: -37px;
    left: 50%;
    transform: translate(-50%, 0);
}
