body{
  font-family: 'Acrom', sans-serif;
  font-weight: 400;
  font-size: 16px;

  @include tablet{
    padding: 0 10px;
  }

  @include mobile{
    padding: 0 5px;
  }
  
}

.wrapper{
  width: 70.6666%;
  max-width: 848px;
  margin: 0 auto;

  @include tablet{
    width: 100%;
  }

  @include mobile{
    min-width: 320px;
  }
}
