header ul {
    list-style: none; 
    font-size: 0;
    margin: 70px 0;
}

header ul li {
    display: inline-block;
    width: 25%;
    text-align: center;
}
header a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
}