.products {
    padding-top: 100px;    
}

.products h2 {
    padding-left: 20px;    
}

.products-list {
    margin-top: 119px;
}

.products-item {
    float: left;
    width: 255px;
    background-color: #e8effc;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.products-item:nth-child(4n) {
    margin-right: 0;
}

.products-item:hover .products-title {
    background-color: #1abc9c;
}

.products-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #323232;
    height: 40px;
    color: #fff;
    letter-spacing: -0.36px;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transition: all .2s ease;    
}

.products-title span {
    float: left;
    box-sizing: border-box;
    line-height: 13px;    
}

.products-name {
    width: 201px;
    padding: 15px 14px 12px;    
}

.products-price {
    background-color: rgba(255, 255, 255, 0.44);
    width: 54px;
    padding: 15px 13px 12px;    
}