.employee__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.employee__text {
    color: #999;
    font-family: 'Roboto', sans-serif;
    max-width: 940px;
    font-size: 15px;
    margin: 0 auto 90px;
    text-align: center;
    line-height: 24px;
}

.employee__img {
    position: relative;
    font-size: 0;
    background-color: #95e1d3;
}

.employee__item:hover img,
.employee__item:hover .employee__icons {
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.employee__img img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.employee__icons {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 10;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.employee__icon {
    height: 56px;
    width: 56px;
    background-color: #fce38a;
    border-right: 1px solid rgba(243, 129, 129, 0.5);
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; 
}

.employee__icon:hover {
    background-color: #f38181;
}

.employee__icon:last-child {
    border-right-width: 0;
}

.employee__icon:hover .employee__svg {
    fill: #fff;
}

.employee__svg {
    height: 56px;
    width: 56px;
    fill: #f38181;
}

.employee__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.employee__name {
    text-transform: uppercase;
    margin: 30px 0 15px;
}

.employee__position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    font-style: italic;
}