.footer {
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__link {
    color: #f38181;
    text-decoration: none;
}

.footer__input {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding: 13px;
}

.footer-input::-webkit-input-placeholder {
    color: #ccc;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
}

.footer-input::-moz-placeholder {
    color: #ccc;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
}

.footer-input:-ms-input-placeholder {
    color: #ccc;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
}

.footer__btn {
    background-color: #95e1d3;
    color: #fff;
    text-transform: uppercase;
    border-width: 0;
    padding: 12px 33px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}