.service-content {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    flex-basis: 33.33%;
    display: flex;
    padding: 0 20px 100px;
    box-sizing: border-box;
}

.service-text {
    color: #999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.service-title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service-icon {
    width: 32px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding-right: 30px;
}

.icon-alarm {
    background-image: url(../img/alarm.png);
}

.icon-linegraph {
    background-image: url(../img/linegraph.png);
}

.icon-computer {
    background-image: url(../img/computer.png);
}

.icon-book {
    background-image: url(../img/book.png);
}

.icon-home {
    background-image: url(../img/home.png);
}

.icon-image {
    background-image: url(../img/image.png);
}