.service__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.service__item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px 100px;
    box-sizing: border-box;
}

.service__text {
    color: #999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.service__title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service__icon {
    width: 32px;
    height: 32px;
    fill: #95e1d3;
    -ms-flex-negative: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 30px;
}
