body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.stopwatch {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.time {
  font-size: 100px;
  margin: 0.3em;
  color: #3c4a94;
}

.btn {
  font-size: 24px;
  background: #fff7b0;
  border: 1px solid #e6e6e6;
  box-shadow: 2px 3px 6px 1px #e4dfdf;
  margin: 0 10px;
  padding: 7px 15px;
  outline: none;
  min-width: 130px;
  border-radius: 3px;
}

.laps {
  margin: 30px 0 0;
  padding: 0;
  color: #607D8B;
  font-size: 0;
}

li {
  list-style: none;
  padding: 10px 0;
  width: 50%;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}