body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.cards-item {
  list-style: none;
  min-width: 200px;
  min-height: 50px;
  background-color: #ccc;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}